<div class="container" style="max-width: 50vw">
  <form #frm="ngForm" (ngSubmit)="addRole(frm)" autocomplete="off">
    <br>
    <h2 class="page-header">{{(frm.value.rolename)?frm.value.rolename:"New Role"}} </h2>
    <br>
    <div class="form-group">
      <label>
        <h4>Role Name</h4>
      </label>

      <input type="text" name="rolename" class="form-control form-control-lg" [ngClass]="{
        'is-invalid': frm.controls.rolename?.invalid && (frm.controls.rolename?.dirty || frm.controls.rolename?.touched),
        'is-valid': frm.controls.rolename?.valid && (frm.controls.rolename?.dirty || frm.controls.rolename?.touched)
      }" placeholder="Client" [(ngModel)]="rolename" required>

      <div class="form-control-feedback invalid-feedback" *ngIf="frm.controls.rolename?.errors && (frm.controls.rolename?.dirty || frm.controls.rolename?.touched)">
        <small *ngIf="frm.controls.rolename?.errors.required">Required field.</small>
      </div>
    </div>

    <div class="form-group">
      <label>
        <h4>Role description</h4>
      </label>
      <textarea class="form-control" name="description" rows="2" placeholder="Enter Description" [ngClass]="{
        'is-invalid': frm.controls.description?.invalid && (frm.controls.description?.dirty || frm.controls.description?.touched),
        'is-valid': frm.controls.description?.valid && (frm.controls.description?.dirty || frm.controls.description?.touched)
      }" ngModel required></textarea>

      <div class="form-control-feedback invalid-feedback" *ngIf="frm.controls.description?.invalid && (frm.controls.description?.dirty || frm.controls.description?.touched)">
        <small>Required field.</small>
      </div>

    </div>

    <div class="form-group">
      <label>
        <h4>Accessible screens:</h4>
        <div class="row">
          <span *ngFor="let page of pages">
            <span class="badge badge-pill badge-success" *ngIf="page.access" style="margin-left:15px">
              {{page.name}}
              <span class="badge badge-pill badge-light" (click)="checkOff(page)" style="cursor: pointer;">✖</span>
            </span>
          </span>
        </div>
      </label>

      <div class="form-control">
        <div class="row">
          <div class="custom-control custom-checkbox col-md-3" *ngFor="let page of pages">
            <input type="checkbox" class="custom-control-input" id="{{page.name}}" name="{{page.name}}" [(ngModel)]="page.access">
            <label class="custom-control-label" for="{{page.name}}">{{page.name}}</label>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <button class="btn btn-success" type="submit" [disabled]=frm.invalid>Add Role</button>
  </form>
</div>